{% extends 'base.html' %}

{% block content %}
<style>
	.form-group {
		width: 50%;
		margin: auto;
	}
	p {
		width: 100%;
	}
	.highlight {
		border: 2px solid black;
	}
</style>
<script src='/static/js/upload_image.js'></script>
<h1>Создание поста в формате MD</h1>

<form action="#" method="POST">
	{{ form.hidden_tag() }}
	<div class="form-group">
		<p>
			<h2>{{ form.text.label }}</h2>
			{{ form.text(id='drop-area', class='form-control', rows='10') }}
			<script>
				make_image_loader('drop-area');
			</script>
			{% for error in form.text.errors %}
				<div class='alert alert-danger'>{{ error }}</div>
			{% endfor %}
		</p>
		<p>{{ form.submit(type='submit', class='btn btn-primary') }}</p>
		{% if error %}
			<div class='alert alrt-danger'>{{ error }}</div>
		{% endif %}
	</div>
</form>
{% endblock %}