{% extends 'base.html' %}

{% block content %}

<h1>Создание новой темы девлога </h1>
<form action="" method="post" novalidate>
	{{ form.hidden_tag() }}
	<div class="form-group">
		<p>
		{{ form.title.label }} <br>
		{{ form.title(class="form-control") }}
		{% for error in form.title.errors %}
    		<div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
		</p>
		<p>
			{{ form.description.label }} <br>
			{{ form.description(class="form-control form-control-lg") }}
			{% for error in form.description.errors %}
	    	<div class="alert alert-danger" role="alert">
	        	{{ error }}
	        {% endfor %}
		</p>
		<p>{{ form.submit(type='submit', class="btn btn-primary") }}</p>
		{% if error %}
			<div class="alert alert-danger">{{ error }}</div>
		{% endif %}
	</div>
</form>
{% endblock %}