{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
<p>Красава {{ current_user.email }} {{ current_user.get_id() }}, вход прошел успешно</p>
{% endif %}
<div style='width: 600px'>
	{% for topic in topics %}
		<figure class="text-center">
		  <blockquote class="blockquote">
		    <p>{{ topic.title }}</p>
		  </blockquote>
		  <figcaption class="blockquote-footer"><cite title="Source Title">{{ topic.description }}</cite>
		  </figcaption>
		  <p class="text-right">{{ topic.user.email }}</p>
		</figure>
	{% endfor %}	
</div>

{% endblock %}